# Ans1

In [1]:
str="Hello"
l=["list",4,3,0]
x=0.34
t=(3,6,7,2,"tuple")

# Ans2

(i)str
(ii)str
(iii)list
(iv)int

# Ans3

(i)The / operator performs division between two numbers and returns a float as the result.

(ii)The % operator calculates the remainder of the division between two numbers.

(iii)The // operator performs floor division between two numbers and returns the largest integer less than or equal to the division result.

(iv)The ** operator raises a number to the power of another number.It calculates the exponentiation or the result of the power operation.

# Ans4

In [2]:
list1=[90,57,"hello","list",55,22,'c',99,100,"world"]
for items in list1:
    print(items)
    print(type(items))

90
<class 'int'>
57
<class 'int'>
hello
<class 'str'>
list
<class 'str'>
55
<class 'int'>
22
<class 'int'>
c
<class 'str'>
99
<class 'int'>
100
<class 'int'>
world
<class 'str'>

# Ans5

In [3]:
A=100
B=5
count=0
while A%B==0:
    A=A/B
    count=count+1
print("No of times A is purely divisible by B is ",count)

No of times A is purely divisible by B is  2

# Ans 6

In [4]:
import random

rand_list = [random.randint(1, 100) for _ in range(25)]
print(rand_list)

for items in rand_list:
    if(items%3==0):
        print(f"{items} is divisible by 3")
    else:
        print(f"{items} is not divisble by 3")

[71, 60, 49, 2, 94, 52, 67, 47, 52, 45, 95, 98, 97, 54, 59, 27, 76, 50, 72, 85, 55, 44, 25, 15, 86]
71 is not divisble by 3
60 is divisible by 3
49 is not divisble by 3
2 is not divisble by 3
94 is not divisble by 3
52 is not divisble by 3
67 is not divisble by 3
47 is not divisble by 3
52 is not divisble by 3
45 is divisible by 3
95 is not divisble by 3
98 is not divisble by 3
97 is not divisble by 3
54 is divisible by 3
59 is not divisble by 3
27 is divisible by 3
76 is not divisble by 3
50 is not divisble by 3
72 is divisible by 3
85 is not divisble by 3
55 is not divisble by 3
44 is not divisble by 3
25 is not divisble by 3
15 is divisible by 3
86 is not divisble by 3

# Ans7

Mutable data types are those whose values can be modified after they are created.Examples are lists, dictionaries etc

In [5]:
mut=[5,4,3,2]
mut[0]=1
mut.append(88)
print(mut)

[1, 4, 3, 2, 88]

Immutable data types are those whose values cannot be modified after they are created.Examples are tuples,strings etc

In [6]:
str="hello"
str[2]='r'
print(str)

TypeError: 'str' object does not support item assignment

Here we are trying to assign string literal to a different value.since string data type is immutable so there is error.